<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>Welcome To Sukipi's Calculator</h1>
        <p>Sukipi's calculator is a calculation program that allows four arithmetic operations with parentheses.</p>
        <form action="/calculate" method="post">
            <div class="form-group">
                <textarea id="problem" name="problem" placeholder="Enter the question!"></textarea>
            </div>
            <button type="submit">calculate</button>
        </form>
    </div>
</div> <!-- /container -->
</body>
</html>
